.card {
    width: 95%;
    margin: 2rem auto;
    padding: 2rem;
    background: #fff;
    border-radius: 3px;
    color: #000000 !important;
    font-weight: 400;
    max-width: 80rem;
  }
  
  .card h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .card a {
    text-decoration: none;
    font-weight: 800;
    color: #1080e9;
  }
  
  .card .urls {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
  }
  
  .card a:hover {
    text-decoration: underline;
  }
  
  .card p{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2;
    margin: 1rem 0;
  }
  
  .card p.copy {
    text-align: center;
    margin-top: 2rem;
  }
  
  .card pre {
    background: var(--dark-background);
    color: #fff;
    padding: 1rem;
    overflow-x: auto;
    margin: 1rem 0;
    border-radius: 3px;
  }
  